@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

strong {
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #fafafa;
  background-color: #4c89e3;
  width: 100%;
  height: 60px;
}

.container__post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  background-color: #ececec;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border-width: 1px;
  padding: 20px 40px;
  margin: 16px 0;
}

.post:hover {
  background-color: #cecece;
  transform: background-color 0.2s ease;
}

.post__title {
  font-weight: 500;
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: center;
}

.post__cover {
  border-radius: 8px;
}

.post__subtitle {
  padding: 10px;
}

.post__button {
  height: 40px;
  background: none;
  border-radius: 6px;
  color: #fafafa;
  background-color: #4c89e3;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.post__button:hover {
  opacity: 1;
  transition: opacity 0.2s ease;
}
