.container {
  border: 1px solid #006799;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 20%;
  margin-left: 16px;
  margin-right: 16px;
  padding: 32px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px 0 rgba(94, 94, 94, 0.2);
}

@media (min-width: 600px) {
  .container {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
